body
	min-height: 100vh
	background: #eee


// 注册页面
#login-page
	padding-top: 100px
	.user-avatar
		display: block
		margin: auto
		max-height: 100px
		max-width: 100px
		text-align: center
	form
		button
			display: block
			margin: auto


// components
// footer
.page-footer
	padding-top: 20px
	padding-bottom: 20px
// article
.post-title
	font-size: 50px
	color: #000
