$footerHeight: 80px

html, body
	//min-height: 100vh
	background: #eee
	height: 100%
// common styles
.page-wrapper
	min-height: 100%
	margin-bottom: -$footerHeight
	&:after
		content: ''
		display: block
		height: $footerHeight



// 注册页面
#login-page
	padding-top: 100px
	.user-avatar
		display: block
		margin: auto
		max-height: 100px
		max-width: 100px
		text-align: center
	form
		button
			display: block
			margin: auto

#edit-page
	form
		button
			display: block
			margin: auto
#user-page
	.avatar-wrapper
		text-align: center
		line-height: 0
		.user-avatar
			display: block
			margin: auto
			max-height: 8rem
			max-width: 8rem
			text-align: center
		.avatar-uploader
			display: none
		.upload-btn
			display: inline-block
			width: 8rem
			height: 8rem
			margin-top: -8rem
			vertical-align: top
			border-radius: 50%
	.select-dropdown
		color: #9e9e9e
// components
// footer
.page-footer
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	height: $footerHeight
	padding-top: 30px!important
	//padding-bottom: 20px
// article
.post-title
	font-size: 50px
	color: #000


.notification
	position: fixed
	z-index: 1000

//nav
.brand-logo
	font-size: 40px!important

