nav
    .nav-wrapper.row
        .col.m8.offset-m2.s12
            a(href="/") Logo
            ul.right
                li
                    a(href="")
                        i.material-icons create
                li
                    a(href="")
                        i.material-icons account_circle
                li
                    a(href="users/logout")
                        i.material-icons exit_to_app

