nav
    .nav-wrapper.row
        .col.m8.offset-m2.s12
            a(href="/")
                i.brand-logo.material-icons polymer
            ul.right
                //li
                //    a(href="/post/create")
                //        i.material-icons create
                li
                    a(href="/u/login")
                        i.material-icons account_circle
                li
                    a(href="/u/logout")
                        i.material-icons exit_to_app

