nav
    .nav-wrapper.row
        .col.m8.offset-m2.s12
            a(href="/")
                i.brand-logo.material-icons polymer
            ul.right
                li
                    a(href="/posts/create")
                        i.material-icons create
                li
                    a(href="/users/login")
                        i.material-icons account_circle
                li
                    a(href="/users/logout")
                        i.material-icons exit_to_app

