if messages.success
    // TODO 页面加载完成后隐藏
    .row
        .col.s12.m4.offset-m4.notification
            .card-panel.green
                .white-text #{messages.success}
if messages.error
    .row
        .col.s12.m4.offset-m4.notification
            .card-panel.red
                .white-text #{messages.error}