doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='https://fonts.lug.ustc.edu.cn/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/mdicon.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/md_theme/github.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block style
  body
    main.page-wrapper
      include components/nav
      include components/notification
      block content
    include components/footer
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/materialize.min.js')
    block script
    script.
      setTimeout(function() {
        $('.notification').fadeOut('slow');
      }, 2000);
      $(".dropdown-button").dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: true,
        hover: true,
        gutter: 0,
        belowOrigin: true
      });
