extends layout

block content
	//- p login
	#login-page
		.row
			.col.s12.m4.offset-m4
				.card-panel
					img.user-avatar.circle(src="/images/avatar.jpg")
					//- h5.login-title.center-align 登录
					form(action="/u/login" method="post")
						.input-field
							input.validate(name='username', type='text', id='user_name')
							label(for='user_name') 用户名
						.input-field
							input.validate(name='password', type='password', id='password')
							label(for='password') 密码
						button.waves-effect.wave-light.btn.center-align(type='submit') 登录
							i.material-icons.right send
						.signup-link
							a(href="/u/signup") 立即注册
