html, body {
  background: #eee;
  height: 100%; }

.page-wrapper {
  min-height: 100%;
  margin-bottom: -80px; }
  .page-wrapper:after {
    content: '';
    display: block;
    height: 80px; }

#login-page {
  padding-top: 1rem; }
  #login-page .user-avatar {
    display: block;
    margin: auto;
    max-height: 100px;
    max-width: 100px;
    text-align: center; }
  #login-page form button {
    display: block;
    margin: auto; }
  #login-page form .signup-link {
    text-align: center;
    padding-top: 2rem; }

#signup-page form button {
  display: block;
  margin: auto; }

#edit-page form button {
  display: block;
  margin: auto; }

#profile-page .avatar-wrapper {
  text-align: center;
  line-height: 0; }
  #profile-page .avatar-wrapper .user-avatar {
    display: block;
    margin: auto;
    max-height: 8rem;
    max-width: 8rem;
    text-align: center; }
  #profile-page .avatar-wrapper .avatar-uploader {
    display: none; }
  #profile-page .avatar-wrapper .upload-btn {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    margin-top: -8rem;
    vertical-align: top;
    border-radius: 50%; }

#profile-page .select-dropdown {
  color: #9e9e9e; }

#user-page .userinfo-wrapper {
  text-align: center;
  line-height: 0; }
  #user-page .userinfo-wrapper .user-avatar {
    display: block;
    margin: auto;
    max-height: 8rem;
    max-width: 8rem;
    text-align: center; }
  #user-page .userinfo-wrapper .intro {
    display: inline-block;
    padding-top: 1.6rem;
    padding-bottom: 2.4rem; }

#admin-page .admin-icon {
  margin-left: 16px; }
  #admin-page .admin-icon:first-child {
    margin-left: 0; }

.page-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 80px;
  padding-top: 30px !important; }

.post-title {
  font-size: 50px;
  color: #000; }

.notification {
  position: fixed;
  z-index: 1000; }

.brand-logo {
  font-size: 40px !important; }

.article-component .post-info span {
  vertical-align: top; }
